@{
    ViewData["Title"] = "Home Page";
}



<div class="container">
    <h1>Welcome to Le resturanto</h1>
    <p>Where culinary excellence meets a warm, inviting atmosphere. Discover our exquisite menu, crafted with passion, and enjoy an unforgettable dining experience. Bon appétit!</p>

    <h2>Popular Dishes</h2>
    <div class="row">
        
        
        <div class="col-md-4 d-flex flex-column justify-content-between">
            <img src="~/images/IceCreamBW.png" alt="Ice cream" class="img-fluid" />
            <div class="mt-auto">
                <h3>Ice cream</h3>
                <p>A cold creamy treat!</p>
            </div>
        </div>
        <div class="col-md-4 d-flex flex-column justify-content-between">
            <img src="~/images/BeeferBW.png" alt="Beefer" class="img-fluid" />
            <div class="mt-auto">
                <h3>Beefer</h3>
                <p>A delicious hearty meal.</p>
            </div>
        </div>
        <div class="col-md-4 d-flex flex-column justify-content-between">
            <img src="~/images/FishAndChipsBW.png" alt="Fish and chips" class="img-fluid" />
            <div class="mt-auto">
                <h3>Fish and Chips</h3>
                <p>And old classic</p>
            </div>
        </div>

    </div>

   
</div>

